<a href="/ventas/" class="btn btn-danger border-dark">Regresar</a>
<div class="container table-responsive">
    <table class="table table-bordered bg-white">
        <thead class="text-center">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody id="registros">
            {{#each detalle}}
            <tr>
                <td> {{title}} </td>
                <td> {{cantidad}} </td>
                <td> {{description}} </td>
                <td> {{precio}} </td>
                <td>Q  {{subtotal}} </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>