<a href="/profile" class="btn btn-danger">Regresar</a>

 <style>
     
    #scroll{
       width:70%;
    height:650px;
        overflow:scroll;
      
}
    }
    </style>
<div class="container" id="scroll">
    <div class="card" >
        <h1 style="text-align: center;">Ventas</h1>
        {{#if user.Tipo_usuario}}
        <h2 class="bg-warning col-3" style="text-align: center;">Total: Q. {{total}}</h2>
        {{else}}
         <h2 style="display: none" class="bg-warning col-3" style="text-align: center;">Total: Q. {{total}}</h2>
          {{/if}}
        <table class="table table-bordered" style="padding-bottom: 30px;">
            <thead class="thead-dark">
                <tr align="center">
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Nit</th>
                    <th>Total</th>
                     <th colspan="3" >Opciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each ventas}}
                <tr>
                    <td>{{timeago created_at}}</td>
                    <td>{{cliente}}</td>
                    <td>{{nit}}</td>
                    <td>{{total}}</td>
                    <td class="p-0"><a href="/ventas/{{id}}" class="btn btn-info btn-block" id="mostrar">Detalle</a>
                    <td class="p-0"><a href="/ventas/delete/{{id}}" class="btn btn-danger btn-block" >X</a>
                     <td class="p-0"><a href="/ventas/{{id}}" class="btn btn-secondary btn-block" >Imprimir</a>
                    </td>
                </tr>
                {{/each}}

                {{!-- <tr>
                    <td colspan="4">
                        <a href="/profile" class="btn btn-block btn-danger">Regresar</a>
                    </td>
                </tr> --}}
            </tbody>
        </table>
    </div>
</div>