<a href="/profile" class="btn btn-danger border-dark mostrar">Regresar</a>

<a href="/ventas/imprimir/listado/{{fecha}}" class="btn btn-secondary">Reporte</a>

<div class="container card" style="overflow-y:auto" id="scroll"> {{!-- Establece el id scroll :V --}}

    <h1 style="text-align: center;">Ventas</h1>

    <form action="/ventas" method="POST">
        <div class="input-group">
            <input type="month" name="date" value="{{ fecha }}">
            <div class="input-group-append mostrar">
                <input type="submit" value="Consultar" class="btn btn-primary">
            </div>
        </div>
    </form>

    <div class="input-group mt-3">
        <h2 class="bg-danger col-3 text-center"> Total: Q. {{total}}</h2>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Nit</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each ventas}}
            <tr>
                <td>{{timeago created_at}}</td>
                <td>{{cliente}}</td>
                <td>{{nit}}</td>
                <td class="text-right">Q {{total}}</td>
                <td class="p-0 mostrar"><a href="/ventas/{{id}}" class="btn btn-info btn-block">Detalle</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>

    $(document).ready(function () {
        var height = $(window).height();
        $('#scroll').height(height - 100);
    });

</script>