<div class=" form-group row " style="margin:10px"  > 
   
      <a href="/links/p/add"   ><img src="img/mas.png" width="40px"> </a>
      <a id="imprimir" class="btn btn-secondary" style="margin:1.5px">Imprimir</a>
      
     <input type="search" id="buscar" list="productos" placeholder="Buscar" style="margin:1px" class="form-control col-md-3 "  >  
</div>
  

<style>
     
    #scroll{
       width:1500px;
    height:550px;
        overflow-y:scroll;
      
}
    
    </style>
    <h1 align="center">Inventario</h1>
    
<div class=" p-4 "  id="scroll" >
        <table border="2" cellspacing="0">
    
    <thead></thead>


    <tr align="center" bgcolor="#F8BC1E">
        <th width="50">#</th>
        <th width="200">Nombre</th>
        <th width="200">Existencia</th>
        <th width="200">Precio</th>
        {{#if user.Tipo_usuario}}
        <th colspan="6">Opciones</th>
    </tr>
   {{#each prod}} 
    <tr align="center">
         <td >{{num}}</td>
        <td >{{title}}</td>
        <td >{{unidades}}</td>
        <td >Q{{Precio_venta}}</td>
        <td > <a href="/links/delete/{{id}}" class="btn btn-danger"> Delete</a></td>
        <td > <a href="/links/edit/{{id}}" class="btn btn-secondary">Edit</a> </td>
        <td> <a href="/links/ingreso/{{id}}" class="btn btn-success">+</a></td>
        <td> <a href="/links/egreso/{{id}}" class="btn btn-danger">-</a></td>
        <td>  <a href="/links/detalles_p/{{id}}" class="btn btn-info">Detalles</a></td>
        <td>  <a href="/links/registro/{{id}}" class="btn btn-dark">Registro</a></td>
    </tr>
     
        {{/each}}  
       </table>
{{else}}
  <th colspan="5">Opciones</th>
    </tr>
   {{#each prod}} 
    <tr align="center">
        <td >{{num}}</td>
        <td >{{title}}</td>
        <td >{{unidades}}</td>
        <td >Q{{Precio_venta}}</td>
        <td > <a href="/links/delete/{{id}}" class="btn btn-danger"> Delete</a></td>
        <td > <a href="/links/edit/{{id}}" class="btn btn-secondary">Edit</a> </td>
        <td> <a href="/links/ingreso/{{id}}" class="btn btn-success">+</a></td>
        <td> <a href="/links/egreso/{{id}}" class="btn btn-danger">-</a></td>
        <td>  <a href="/links/detalles_p/{{id}}" class="btn btn-info">Detalles</a></td>
        <td>  <a href="/links/registro/{{id}}" class="btn btn-dark" style="display: none">Registro</a></td>
    </tr>
        {{/each}}  
       </table>
{{/if}}
  </div>
   
<script>
    let productos;
    $(document).ready(() => {
        productos = $('table tr').slice(1).toArray();
        $('#buscar').keyup(() => {
            let cadena = $('#buscar').val();
            filtrar(cadena.toUpperCase());
        })
    })

    
    let filtrar = (cadena) => {
        let regex = new RegExp(cadena);
        $('table tr').slice(1).each(function () {
            let item = $(this).find('td:eq(1)').text().toUpperCase();
            if (!item.match(regex)) {
                $(this).hide();
            } else {
                $(this).show();
            }
        })
    }


       $('#imprimir').click(() => {
            $('.mostrar').hide();
            $('table').addClass('table');
            var contentImprimir = $('#area').html();
            $('body').html(contentImprimir);
            window.print();
            window.location.reload()
            return false
        })


</script>